doctype html
html(lang="ko")
  head
    title uiwwnw's scss animation
  body
    -
      var list=[
        {
          text: '나를',
          time: 1000,
          transition: 2,
          transform: 'scale(2)'
        },
        {
          text: '표',
          bg: "black",
          color: "white",
          time: 300,
          //- transition: 1,
          transform: 'translate(-10vmin, 0) scale(2)',
          exTransform: 'translate(-10vmin, 0)'
        },
        {
          text: '현',
          bg: "white",
          color: "black",
          time: 300,
          //- transition: 1,
          transform: 'translate(10vmin, 0) scale(2)',
          exTransform: 'translate(10vmin, 0)'
        },
        {
          text: '하는건',
          time: 900,
          transition: 2,
          transform: 'translate(10vmin, 0)',
          exTransform: 'translate(-10vmin, 0)'
        },
        {
          text: '내가',
          time: 1500,
          transition: 2,
          transform: 'scale(1.1)'
        },
        {
          text: '제일 좋아하는',
          time: 900,
          transition: 2,
          transform: 'scale(2)'
        },
        {
          text: '무언가',
          time: 800,
          transition: 2,
          transform: 'rotate(10deg)'
        },
        {
          text: '그 자체',
          time: 1500,
          transition: 2,
          transform: 'scale(1.1)'
        },
        {
          text: '라고 생각합니다',
          time: 1900,
          transition: 1,
          transform: 'translate(9vmin, 0)'
        },
        {
          text: '전',
          time: 900,
          transition: 0,
          transform: 'scale(.7)'
        },
        {
          text: '치즈를',
          time: 1000,
          transition: 2,
          transform: 'scale(1.4)'
        },
        {
          text: '가장',
          time: 800,
          transition: 0,
          transform: 'scale(1.6)'
        },
        {
          text: '좋아합니다',
          time: 1000,
          transition: 1,
          transform: 'scale(1.1)'
        },
        {
          text: '치즈',
          time: 1000,
          transition: 1,
          transform: 'scale(1.1)'
        },
        {
          text: '영어론',
          time: 1000,
          transition: 1,
          transform: 'scale(1.1)'
        },
        {
          text: 'CHEESE',
          time: 900,
          transition: 1,
          transform: 'scale(1.1)'
        },
        {
          text: '알파벳',
          time: 900,
        },
        {
          text: '하나',
          time: 900,
          transition: 1,
          transform: 'translate(-3vmin, -9vmin)'
        },
        {
          text: '하나씩',
          time: 900,
          transition: 1,
          transform: 'translate(3vmin, 9vmin)'
        },
        {
          text: '때어내고',
          time: 900,
          transition: 1,
          transform: 'translate(9vmin, 0)',
          exTransform: 'translate(-9vmin, 0)'
        },
        {
          text: 'C H E E S E',
          time: 1300,
          transition: 0
        },
        {
          text: '늘리고',
          time: 900,
          transition: 1,
          transform: 'skewX(50deg)'
        },
        {
          text: '돌리고',
          time: 900,
          transition: 0.5,
          transform: 'rotate(360deg)'
        },
        {
          text: '해서',
          time: 900,
          transition: 1,
          transform: 'scale(1.1)'
        },
        {
          text: 'C',
          time: 2000,
          transition: 1,
          transform: 'rotate(-90deg) scaleX(2)'
        },
        {
          text: 'H',
          time: 2000,
          transition: 1,
          transform: 'rotate(-90deg) scaleX(-2)'
        },
        {
          text: 'E',
          time: 2000,
          transition: 1,
          transform: 'rotate(-90deg) scaleX(2)'
        },
        {
          text: 'E',
          time: 2000,
          transition: 1,
          transform: 'rotate(270deg) scaleX(2)'
        },
        {
          text: 'S',
          time: 2000,
          transition: 1,
          transform: 'rotate(-450deg) scaleX(2)'
        },
        {
          text: 'E',
          time: 2000,
          transition: 1,
          transform: 'rotate(-90deg) scaleX(2)'
        },
        {
          text: 'C H E E S E',
          time: 1300,
          transition: 1,
          transform: 'scaleX(0)'
        },
        {
          text: 'UIWWNW',
          time: 1300,
          transition: 3,
          exTransform: 'scaleX(0)',
          transform: 'scaleX(1)'
        },
        {
          text: 'UIWWNW',
          time: 1300,
          transition: 2,
          transform: 'scaleY(0)'
        },
        {
          text: 'uiwwnw',
          time: 3300,
          bg: "black",
          color: "white",
          transition: 3,
          exTransform: 'scaleY(0)',
          transform: 'scale(1)'
        },
        {
          text: '이렇게 제 아이디가 탄생했습니다~끝',
          time: 5000,
        }
      ]
    each item in list
      div(data-time=item.time data-transition=item.transition data-transform=item.transform data-ex-transform=item.exTransform data-bg=item.bg data-color=item.color)
        p=item.text
      